.content {
  width: 50%;
  margin: 8vh auto;
}

.title {
  text-align: center;
}

.field {
  height: 2rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 1rem;
  padding-left: 10px;
  font-size: 1rem;
}

button[type="submit"] {
  width: 10rem;
  height: 2.5rem;
  margin-top: 2rem;
}

.submitContainer {
  display: flex;
  justify-content: center;
}
