.container {
  width: 70%;
  margin: 15vh auto;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  color: white;
  padding: 1rem;
  background-color: rgb(50, 90, 164);
  width: 15rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dealsTitle {
  margin: 3rem 0;
}

.title {
  text-align: center;
  height: 4rem;
}

.dates {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.userId,
.price,
.travelers {
  text-align: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookBtn {
  background-color: #fdca40;
}

.bookBtn:hover {
  background-color: #ffbb00;
}
