.content {
  width: 50%;
  margin: 8vh auto;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.field {
  height: 2rem;
  width: calc(100% - 1rem);
  margin-top: 10px;
  margin-bottom: 1rem;
  padding-left: 10px;
  font-size: 1rem;
}

textarea {
  resize: none;
  width: calc(100% - 1rem);
  font-size: 1rem;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.btn {
  max-width: 12rem;
}

.btnContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.bottomContainer {
  margin-top: 5rem;
}

.contactTable {
  width: 100%;
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
}

.contactTable thead th {
  background-color: #fdca40;
  padding: 10px;
  text-align: left;
}

.contactTable tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
}

.contactTable button {
  width: 100%;
  margin: 0 auto;
}
